/* ---| Helpers |--- */
._rLink\(\) {text-decoration: none;outline: 0;}
.Ellip\(\) {text-overflow: ellipsis; white-space: nowrap; overflow-wrap: break-word; word-wrap: break-word; -ms-word-break: break-all; word-break: break-word; -ms-hyphens: auto; -moz-hyphens: auto; -webkit-hyphens: auto; hyphens: auto; overflow: hidde;}
/* ---| Cells |--- */
.Ai\(c\) {-webkit-box-align: center; -ms-flex-align: center; align-items: center;}
.Bdrus\(s05\) {border-radius: .125rem;}
.Bgc\(blue\) {background-color: rgb(51,126,221);}
.Bgc\(green\) {background-color: rgb(25,169,116);}
.Bgc\(grey-10\) {background-color: rgb(250,250,250);}
.Bgc\(white\) {background-color: rgb(255,255,255);}
.Bxsh\(0\,0\,s05\,grey-7\) {box-shadow: 0 0 .125rem rgb(204,204,204);}
.Bxz\(bb\) {-moz-box-sizing: border-box; box-sizing: border-box;}
.C\(black-br\) {color: black-br;}
.C\(black\) {color: rgb(0,0,0);}
.C\(blue\) {color: rgb(51,126,221);}
.C\(blue\)\:h:hover {color: rgb(51,126,221);}
.C\(grey-2\) {color: rgb(51,51,51);}
.C\(grey-3\) {color: rgb(85,85,85);}
.C\(white\) {color: rgb(255,255,255);}
.Cur\(p\) {cursor: pointer;}
.D\(b\) {display: block;}
.D\(f\) {display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;}
.Ff\(ClearSans\) {font-family: ClearSans;}
.Ff\(Inconsolata\) {font-family: Inconsolata;}
.Fld\(c\) {-webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column;}
.Flw\(w\) {-ms-flex-wrap: wrap; flex-wrap: wrap;}
.Flx\(1\) {-webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;}
.Fw\(b\) {font-weight: bold;}
.Fz\(s2\) {font-size: 1.2rem;}
.Fz\(s3\) {font-size: 1.44rem;}
.H\(100\%\) {height: 100%;}
.Jc\(space-evenly\) {-webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly;}
.Lh\(s3\) {line-height: 1.44rem;}
.M\(0\) {margin: 0;}
.M\(s03\) {margin: .5rem;}
.Mah\(20rem\) {max-height: 20rem;}
.Maw\(40rem\) {max-width: 40rem;}
.Mih\(6rem\) {min-height: 6rem;}
.Mt\(s03\) {margin-top: .5rem;}
.Mt\(s2\) {margin-top: 1.2rem;}
.Mx\(a\) {margin-left: auto; margin-right: auto;}
.My\(0\) {margin-top: 0; margin-bottom: 0;}
.My\(s02\) {margin-top: .694rem; margin-bottom: .694rem;}
.My\(s2\) {margin-top: 1.2rem; margin-bottom: 1.2rem;}
.Op\(\.7\)\:h:hover {opacity: .7;}
.Op\(\.8\)\:h:hover {opacity: .8;}
.Ov\(h\) {overflow: hidden;}
.P\(s02\) {padding: .694rem;}
.P\(s03\) {padding: .5rem;}
.P\(s04\) {padding: .25rem;}
.Px\(s2\) {padding-left: 1.2rem; padding-right: 1.2rem;}
.Py\(s03\) {padding-top: .5rem; padding-bottom: .5rem;}
.Py\(s04\) {padding-top: .25rem; padding-bottom: .25rem;}
.Py\(s4\) {padding-top: 2rem; padding-bottom: 2rem;}
.Ta\(c\) {text-align: center;}
.Td\(u\) {text-decoration: underline;}
.W\(100\%\) {width: 100%;}
.W\(50\%\) {width: 50%;}
.W\(80\%\) {width: 80%;}
.Wob\(ba\) {word-break: break-all;}
@media all and (min-width: 48rem) {
.Px\(s5\)\@md {padding-left: 4rem; padding-right: 4rem;}
}
@media all and (min-width: 64rem) {
.Maw\(50\%\)\@lg {max-width: 50%;}
}
