{% extends "layout_page.html" %}

{% block title %}
Admin App View
{% endblock %}

{% block nav %}
<a href="/admin" class="_rLink() Fz(s3) Ff(Inconsolata) Td(u) C(grey-3) C(blue):h">← Back</a>
<a href="/" class="_rLink() Fz(s3) Ff(Inconsolata) Td(u) C(grey-3) C(blue):h Ml(s1)">Home</a>
{% endblock %}

{% block body %}

<main class="Maw(40rem) Mx(a) Mt(s2) Px(s2) Px(s5)@md Py(s4) Bgc(white) Bxsh(0,0,s05,grey-7) Fz(s2)">
	<div class="Fz(s3) C(black) Fw(b) Ff(Inconsolata) Py(s03)">
		{{ app.name }}
	</div>
	<img src="/api/v1/app/{{app.id}}/icon/private" 
		class="D(b) Mah(20rem) W(100%) W(80%)@lg My(s2) Mx(a) Bdrus(s05) Bxsh(0,0,s05,grey-7)"
	>	
	</img>
	<div class="C(grey-2)">Description</div>
	<div class="Ff(Inconsolata) Mih(6rem) P(s03) Mt(s03) Lh(s3) Bxsh(0,0,s05,grey-7) Wob(ba)">
		{{ app.description }}
	</div>
	<div class="Py(s04) Mt(s03) C(grey-2)">
		Created: <span class="C(black) Ff(Inconsolata)">{{ app.created.strftime("%B %d, %Y @ %I:%M%p") }}</span>
	</div>
	<div class="Py(s04) Mt(s03) C(grey-2)">
		Updated: <span class="C(black) Ff(Inconsolata)">{{ app.updated.strftime("%B %d, %Y @ %I:%M%p") }}</span>
	</div>
	{% if app.approved %}
	<div class="Py(s04) Mt(s03) C(grey-2)">
		Downloads:
		<span class="C(black) Ff(Inconsolata)">{{app.downloads}}</span>
	</div>
	{% endif %}
	<div class="Py(s03)">
		Developed by
		<a class="_rLink() Fz(s3) Ff(Inconsolata) Td(u) C(grey-3) C(blue):h" href="/admin/user/{{dev.id}}">{{dev.username}}</a>
	</div>
	<div
		onclick="$.post('/api/v1/app/{{app.id}}/delete', 'text', 0, () => location.href = '/admin')"
		class="Bgc(red) Mx(a) Cur(p) Op(.8):h Ta(c) My(s02) C(white) Bdrus(s05) P(s04) Maw(50%)@lg">
		Delete
	</div>
	{% if not app.approved %}
	<div 
		onclick="$.post('/api/v1/app/{{app.id}}/approve', 'text', 0, () => location.reload())"
		class="Bgc(orange) Mx(a) Cur(p) Op(.8):h Ta(c) My(s02) C(white) Bdrus(s05) P(s04) Maw(50%)@lg">
		Approve
	</div>
	{% endif %}
</main>

{% endblock %}