{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block content %}

<main class="Mx(a) W(100%) Maw(50rem) D(f) Pt(s04) Px(s04) Flx(1) Ov(h)">

<div class="Flx(.5) Bgc(white) Bxsh(0,0,s05,grey-7) Mr(s02)">
	<form method="POST" class="D(f) P(s03) Bdb(s,s05,grey-7)">
		{{ form.hidden_tag() }}
		{{ form.search(class_="Bd(n) W(100%) Bdb(s,s05,blue) Bgc(yellow-washed):f Trsp(background-color) Trsdu(.5s) P(.5rem)")
		}}
		{{form.submit(class_="_rButton() Fz(s2) P(s04) Px(2rem) Bgc(blue) C(white) Op(.85):h Bxsh(0,0,s04,grey-5)")}}
	</form>
	<div class="Ovy(s) H(100%)">
	{% for result in results %}
		{% if result.app %}
	<article class="My(s1) P(s2) Bgc(white) Bxsh(0,0,s05,grey-7) D(f) Js(sb)">
		<img class="Maw(30%) Bdrus(s2) D(b) M(s05) Bxsh(0,0,s05,grey-6)" src="/api/v1/app/{{result.app.id}}/icon/private">
		<div class="W(100%) D(f) Fld(c) Jc(c)">
			<a href="/admin/app/{{result.app.id}}"
				class="Pl(s03) _rLink() Fz(s4) Tt(c) C(grey-3) C(blue):h D(b)">
				{{result.app.name}}
			</a>
		</div>
	</article>
		{% endif %}
		{% if result.user %}
		<section class="W(80%) Mx(a) Mt(s2) Px(s5) Py(s4) Bgc(yellow-washed) Bxsh(0,0,s05,grey-7)">
		<div>
			Username: <a href="/admin/user/{{result.user.id}}">{{result.user.username}}</a>
		</div>
		<p>Email: {{ result.user.email }} </p> 
		</section>
		{% endif %}
	{% endfor %}
	</div>
</div>
<div class="Flx(.5) Bgc(white) Bxsh(0,0,s05,grey-7) Ml(s02)">
	<div class="Fz(s4) Ta(c) P(s03) Bdb(s,s05,grey-7)">
		Approval Queue
	</div>
	<div class="Ovy(s) H(100%)">
	{% for app in apps %}
	<article class="My(s1) P(s2) Bgc(white) Bxsh(0,0,s05,grey-7) D(f) Js(sb)">
		<img class="Maw(30%) Bdrus(s2) D(b) M(s05) Bxsh(0,0,s05,grey-6)" src="/api/v1/app/{{app.id}}/icon/private">
		<div class="W(100%) D(f) Fld(c) Jc(c)">
			<a href="/admin/app/{{app.id}}"
				class="Pl(s03) _rLink() Fz(s4) Tt(c) C(grey-3) C(blue):h D(b)">
				{{app.name}}
			</a>
		</div>
	</article>
	{% endfor %}
	</div>
</div>

</main>

{% endblock %}