{% extends "layout_page.html" %}
	
{% block title %}
Apps developed by you
{% endblock %}

{% block nav %}
<a href="/" class="_rLink() Ff(Inconsolata) Td(u) C(grey-3) C(blue):h">← Back</a>
{% endblock %}

{% block body %}
	{% for app in apps %}
	<article class="Mt(s2) Px(s5) Py(s4) Bgc(white) Bxsh(0,0,s05,grey-7)">
		<div class="Py(s03)">
			<a class="_rLink() Fz(s3) Ff(Inconsolata) Td(u) C(grey-3) C(blue):h" href="app/{{ app.id }}">{{app.name}}</a>
			{% if not app.approved %}
			<span class="Maw(50%)@lg Mx(a) Ta(c) P(s04) C(white) Bgc(orange) Bdrus(s05)">
			Approval Pending
			</span>
			{% endif %}
		</div>
		<div class="Ff(Inconsolata) P(s03) Mt(s03) Lh(s3) Bxsh(0,0,s05,grey-5) Ellip() Ov(h)">
			{{ app.description }}
		</div>
	</article>
	{% endfor %}
{% endblock %}