{% extends "layout.html" %}
	
{% block head %}
{% endblock %}

{% block content %}

<main class="Mx(a) W(100%) Maw(40rem) D(f) Flc(c) H(100%) Jc(c)">
	<section class="Px(s2) W(100%) W(80%)@sm W(a)@md Px(s5)@md Py(s2) Py(s4)@md Bgc(white) Bxsh(0,0,s02,grey-5) Fz(s2)">
		<a href="/dev" class="_rLink() Fz(s3) Ff(Inconsolata) Td(u) C(grey-3) C(blue):h">← Back</a>
		<a href="/" class="_rLink() Fz(s3) Ff(Inconsolata) Td(u) C(grey-3) C(blue):h Ml(s1)">Home</a>
		<div class="Fz(s3) C(black) Fw(b) Ff(Inconsolata) Py(s03) Mt(s03)">
			{{ app.name }}
		</div>
		<img src="/api/v1/app/{{app.id}}/icon/private" 
			class="D(b) W(100%) My(s2) Bdrus(s04) Bxsh(0,0,s05,grey-5)"
		>	
		</img>
		<div class="C(grey-2)">Description</div>
		<div class="Ff(Inconsolata) Py(s1) Mih(6rem) Px(s03) Mt(s03) Lh(s3) Bxsh(0,0,s05,grey-5)">
			{{ app.description }}
		</div>
		<div class="Py(s04) Mt(s03) C(grey-2)">
			Created: <span class="C(black) Ff(Inconsolata)">{{ app.created.strftime("%B %d, %Y @ %I%:%M%p") }}</span>
		</div>
		<div class="Py(s04) Mt(s03) C(grey-2)">
			Updated: <span class="C(black) Ff(Inconsolata)">{{ app.updated.strftime("%B %d, %Y @ %I%:%M%p") }}</span>
		</div>
		<div class="Py(s04) Mt(s03) C(grey-2)">
			Downloads:
			<span class="C(black) Ff(Inconsolata)">{{app.downloads}}</span>
		</div>
	</section>
</main>

{% endblock %}