{% extends "layout_form.html" %}

{% block head %}
<style>
body {
	background-image: url("/resources/login_background.png");
	background-size: cover;
	background-position: center;
}
</style>
{% endblock %}

{% block form %}
<div class="Mt(s2)">
	{{ form.email.label }}
	{{ form.email(placeholder="user@email.com", 
		class_="Bd(n) Bdb(s,s05,blue) Bgc(yellow-washed):f Trsp(background-color) Trsdu(.5s) P(.5rem) D(b) W(100%)") }}
</div>
{{ form.submit(class_="_rButton() Mt(s4) Fz(s3) D(b) Mx(a) P(s03) Px(2rem) Bgc(blue-dark) C(white) Op(.85):h Bdrus(s05) Bxsh(0,0,s04,grey-5)") }}
{% endblock %}