{% extends "layout.html" %}
	
{% block head %}
{% endblock %}

{% block content %}

<main class="Mx(a) Maw(50rem) D(f) Fld(c) H(100%)">
	<div class="Fz(s4) Ta(c) P(s02) Mt(s02) Bgc(grey-8) Bxsh(0,0,s05,grey-3)">Ford Developer Resources</div>
	<section class="W(100%) Mx(a) Mt(s2) Px(s5) Py(s4) Bgc(white) Bxsh(0,0,s05,grey-5)">
		<a class="_rLink() D(b) Fz(s3) Ff(Inconsolata) Td(u) C(grey-3) C(blue):h" href="/dev/">Your Apps</a>
		<a class="_rLink() D(b) Fz(s3) Ff(Inconsolata) Td(u) C(grey-3) C(blue):h" href="/dev/app/new">Submit App</a>
		<div class="Bdt(s,s04,grey-2) Mt(s1) Fz(s4) C(#191919)">Documentation</div>
	</section>
</main>

{% endblock %}