{% extends "form.html" %}

{% block head %}
<style>
body {
	background-image: url("/resources/login_background.png");
	background-size: cover;
	background-position: center;
}
</style>
{% endblock %}

{% block form %}
<h class="C(blue) Fz(s5) Mt(0)">Ford Store</h>
<h2 class="M(0) Py(.5rem) Fw(n) Fz(s4)">
Sign In
</h2>
<div class="Mb(s4)">
	<span>Or, </span>
	<a class="_rLink() Fs(n) C(blue) Fw(n) Td(u):h" href="/register">Register</a>
</div>
<div class="M(0) Mb(s4)">
	{{ form.email.label }}
	{{ form.email(type="email", placeholder="user@email.com", class_="Bd(n) Bdb(s,s05,blue) P(.5rem) D(b) W(100%)") }}
</div>
<div class="M(0) Mb(s4)">
	{{ form.password.label }}
	{{ form.password(pattern=".{6,}", title="Must be 6 characters minimum", placeholder="correcthorsebatterystaple", 
		class_="Bd(n) Bdb(s,s05,blue) P(.5rem) D(b) W(100%)") }}
</div>
{{ form.submit(class_="_rButton() Fz(s3) D(b) Mx(a) P(s03) Px(2rem) Bgc(blue-dark) C(white) Op(.85):h Bdrus(s05) Bxsh(0,0,s04,grey-5)") }}
{% endblock %}