{% extends "form.html" %}

{% block head %}
<style>
body {
	background-image: url("/resources/app_background.png");
	background-size: cover;
	background-position: center;
}
</style>
{% endblock %}

{% block form %}
<h class="C(blue) Fz(s4) Mt(0)">Ford Developer Portal</h>
<h2 class="M(0) Py(.5rem) Fw(n) Fz(s3) Mb(s4)">
Submit new app
</h2>
<div class="M(0) Mb(s4)">
	{{ form.name.label }}
	{{ form.name(type="text", class_="Bd(n) Bdb(s,s05,blue) P(s04) D(b) W(100%) Bgc(yellow-washed):f Trsp(background-color) Trsdu(.5s)") }}
	{{ form.description.label(class_="Mt(s1) D(b)") }}
	{{ form.description(title="What does your app do?", placeholder="This app does... (1000 character limit)",
		class_="Bd(n) Bgc(grey-10) Bdrus(s05) P(s04) D(b) W(100%) Mih(10rem) Bgc(yellow-washed):f Trsp(background-color) Trsdu(.5s)") }}
</div>
<div class="M(0) Mb(s4)">
	{{ form.app.label }}
	<div class="Pos(r) Ta(c) P(s04) Mt(s04) Bgc(blue-dark) C(white) Op(.85):h Bdrus(s05) Bxsh(0,0,s04,grey-5)">
		<span>Upload</span>
		{{ form.app(id="upload_app", accept="application/gzip,.gz,.tgz", type="file", class_="D(b) P(0) M(0) Op(0) H(100%) T(0) Pos(a) Cur(p)") }}
	</div>
	<input id="uploaded_app" placeholder="..." disabled class="Bd(n) Bgc(grey-10) W(100%) Ta(c) Ff(Inconsolata) Fz(s2)"/>
	<script>
	const upload_app_button = document.getElementById("upload_app");
	upload_app_button.onchange = () => {
		document.getElementById("uploaded_app").value = upload_app_button.value.split("\\").reverse()[0];;
	};
	</script>
</div>
<div class="M(0) Mb(s4)">
	{{ form.icon.label }}
	<div class="Pos(r) Ta(c) P(s04) Mt(s04) Bgc(blue-dark) C(white) Op(.85):h Bdrus(s05) Bxsh(0,0,s04,grey-5)">
		<span>Upload</span>
		{{ form.icon(id="upload_icon", accept=".png,.jpg,.jpeg", type="file", class_="D(b) P(0) M(0) Op(0) H(100%) T(0) Pos(a) Cur(p)") }}
	</div>
	<input id="uploaded_icon" placeholder="..." disabled class="Bd(n) Bgc(grey-10) W(100%) Ta(c) Ff(Inconsolata) Fz(s2)"/>
	<script>
	const upload_icon_button = document.getElementById("upload_icon");
	upload_icon_button.onchange = () => {
		document.getElementById("uploaded_icon").value = upload_icon_button.value.split("\\").reverse()[0];;
	};
	</script>
</div>
{{ form.submit(
	class_="_rButton() Fz(s3) D(b) Mx(a) P(s03) Px(2rem) Bgc(blue-dark) C(white) Op(.85):h Bdrus(s05) Bxsh(0,0,s04,grey-5)") }}
{% endblock %}
