{% extends "layout_form.html" %}

{% block head %}
<style>
body {
	background-image: url("/resources/login_background.png");
	background-size: cover;
	background-position: center;
}
</style>
{% endblock %}

{% block form %}
<div>
	<div class="C(blue) Fz(s4) Fz(s4)@md">Password Reset</div>
</div>
<div class="Mt(s4)">
	{{ form.newPassword1.label }}
	{{ form.newPassword1(pattern=".{6,}", title="Must be 6 characters minimum",
		class_="Bd(n) Bdb(s,s05,blue) Bgc(yellow-washed):f Trsp(background-color) Trsdu(.5s) P(.5rem) D(b) W(100%)") }}
</div>
<div class="Mt(s4)">
	{{ form.newPassword2.label }}
	{{ form.newPassword2(pattern=".{6,}", title="Must be 6 characters minimum", 
		class_="Bd(n) Bdb(s,s05,blue) Bgc(yellow-washed):f Trsp(background-color) Trsdu(.5s) P(.5rem) D(b) W(100%)") }}
</div>
{{ form.submit(class_="_rButton() Mt(s4) Fz(s3) D(b) Mx(a) P(s03) Px(2rem) Bgc(blue-dark) C(white) Op(.85):h Bdrus(s05) Bxsh(0,0,s04,grey-5)") }}
{% endblock %}