{% extends "form.html" %}

{% block form %}
<h2 class="M(0) Py(.5rem)">
User Registration
</h2>
<fieldset class="M(0) Bd(s,s05,black) Mb(1rem)">
	<div>Email</div>
	<input type="email" name="email" required>
	<div>Username</div>
	<input type="text" name="username" required>
</fieldset>
<fieldset class="M(0) Bd(s,s05,black) Mb(1rem)">
	<div>Password</div>
	<input type="password" name="password" required>
	<div>Password Again</div>
	<input type="password" name="password_again" required>
</fieldset>
<input class="_rButton() P(.5rem) Bgc(white) Bd(s,s05,black), C(white):h Bgc(black):h" type="submit" value="Register">
{% endblock %}