{% extends "layout.html" %}
	
{% block head %}
<script src="https://unpkg.com/hyperapp@1.2.8/dist/hyperapp.js"></script>
<script src="https://unpkg.com/@hyperapp/router@0.7.0/dist/router.js"></script>
<script src="https://unpkg.com/@hyperapp/html@1.1.1/dist/hyperappHtml.js"></script>
{% endblock %}

{% block content %}
<script>
const main = (()=>{

// Using the Intl API so europe gets 24 hour, ect.
const time_format = new Intl.DateTimeFormat(navigator.lanuage,
{
  hour: "numeric",
  minute: "numeric"
});

const date_format = new Intl.DateTimeFormat(navigator.lanuage,
{
  day: "numeric",
  month: "long",
  year: "numeric"
});

function formatTime(t) {
  const time = t == undefined ? new Date() : new Date(t);
  return time_format.format(time);
}

function formatDate(t) {
  const time = t == undefined ? new Date() : new Date(t);
  return date_format.format(time);
}

// Imports
const {Link, Route, location, Redirect} = hyperappRouter
const {main, h1, span, div, button, section, img, article, time, a} = hyperappHtml;

const state = {
	location: location.state,
	apps: new Map(),
	installed: new Map(),
	installing: false
}

const apps_to_map = array => {
	map = new Map()
	for (let item of array) {
		map.set(item.id, item)
	}
	return map;
}

const installed_to_map = array => {
	map = new Map()
	for (let item of array) {
		map.set(item.app_id, item)
	}
	return map;
}

const actions = {
	location: location.actions,
	load_apps: n => ({apps: apps_to_map(n)}),
	update_apps: () => (state, actions) => {
		$.get("{{api_domain}}/api/v1/app/top", "json", actions.load_apps);
	},
	load_installed: n => ({installed: installed_to_map(n)}),
	update_installed: () => (state, actions) => {
		$.get("/installed_apps", "json", actions.load_installed)
	},
	installed_apps: new_apps => state => ({apps: new_apps}),
	finish_install: () => state => ({installing: false}),
	install: app_id => (state, actions) => {
		$.post("/install_app/" + app_id, "text", 0, () => {
			actions.update_installed();
			actions.finish_install()
		})
		return {installing: state.apps.get(app_id).name}
	},
	show_installed: () => state => {console.log(state)}
}

const app_short = (app) => (
	article({class: "M(s03) W(50%) P(s02) Bxsh(0,0,s05,grey-7) Bgc(white) D(f) Ai(c) Fld(c) Flx(1)"}, [
		img({
			src: "{{api_domain}}/api/v1/app/" + app.id + "/icon",
			class: "D(b) Mah(20rem) W(80%) My(s2) Mx(a) Bdrus(s05) Bxsh(0,0,s05,grey-7) Cur(p)",
			onclick: () => history.pushState(location.pathname, "", "/" + app.id)
		}),
		Link({
			id: app.id,
			to: "/" + app.id,
			class: "_rLink() C(blue) Op(.7):h Fz(s3)"
		}, app.name),
		div({class: "Ff(Inconsolata) M(s03) Bxsh(0,0,s05,grey-7) Ellip() Ov(h) W(100%) P(s04)"}, app.description),
		div({class: "Py(s04) Mt(s03) C(grey-2)"},[
			"Updated: ", time({class: "C(black) Ff(Inconsolata)"}, formatDate(app.updated))
		])
	])
)

const home = () => (state, actions) => (
	section({class: "D(f) W(100%) Flw(w)"},
		Array.from(state.apps.values()).map(app_short)
	)
);

const install_button = (app, app_id) => (state, actions) => {
	if (state.installed.has(app_id))
		return div({
			class: "Mx(a) Bgc(green) Ta(c) My(s02) C(white) Bdrus(s05) P(s04) Maw(50%)@lg"
		}, "Installed")
	if (state.installing)
		return div({
			class: "Mx(a) Bgc(green) Ta(c) My(s02) C(white) Bdrus(s05) P(s04) Maw(50%)@lg"
		}, "Installing " + state.installing)
	else
		return div({onclick: () => actions.install(app.id),
			class: "Mx(a) Bgc(blue) Cur(p) Op(.8):h Ta(c) My(s02) C(white) Bdrus(s05) P(s04) Maw(50%)@lg"
		}, "Install")
}

const detail = ({match, _}) => (state, actions) => {
	app_id = parseInt(match.params["app_id"])
	const app = state.apps.get(app_id)
	if (!app)
		return div("Loading..")
	return main({class: "Maw(40rem) Mx(a) Mt(s2) Px(s2) Px(s5)@md Py(s4) Bgc(white) Bxsh(0,0,s05,grey-7) Fz(s2)"}, [
		Link({to: "/", class: "_rLink() Fz(s3) Ff(Inconsolata) Td(u) C(grey-3) C(blue):h"}, "← Back"),
		img({
			src: "{{api_domain}}/api/v1/app/" + app.id + "/icon",
			class: "D(b) Mah(20rem) W(80%) My(s2) Mx(a) Bdrus(s05) Bxsh(0,0,s05,grey-7)"
		}),
		div({class: "Ta(c) Fz(s3) C(black) Fw(b) Ff(Inconsolata) Py(s03)"}, app.name),
		div({class: "Ff(Inconsolata) Mih(6rem) P(s03) Mt(s03) Lh(s3) Bxsh(0,0,s05,grey-7) Wob(ba)"}, app.description),
		div({class: "Py(s04) Mt(s03) C(grey-2)"},[
			"Updated: ", time({class: "C(black) Ff(Inconsolata)"}, formatDate(app.updated))
		]),
		install_button(app, app_id)
	])
};

const installed = () => (
	h1("Installed")
);

const view = (state, actions) => (
	main({class: "Mx(a) W(100%) H(100%) Maw(40rem)"}, [
		div({class: "D(f) Jc(space-evenly) P(s04) Fz(s3)"}, [
			Link({to: "/installed", class: "_rLink() C(grey-2) P(s04) C(blue):h"}, "Installed Apps"),
			Link({to: "/", class: "_rLink() C(grey-2) P(s04) C(blue):h"}, "Home")
		]),
		Route({path: "/",  render: home}),
		Route({path: `/:app_id`,  render: detail}),
		Route({path: "/installed", render: installed})
	])
)

return hyperapp.app(state, actions, view, document.body)
})();

hyperappRouter.location.subscribe(main.location);
main.update_apps();
main.update_installed();
</script>

{% endblock %}