{% extends "layout.html" %}

{% block head %}
<script src="https://unpkg.com/hyperapp@1.2.8/dist/hyperapp.js"></script>
<script src="https://unpkg.com/@hyperapp/router@0.7.0/dist/router.js"></script>
<script src="https://unpkg.com/@hyperapp/html@1.1.1/dist/hyperappHtml.js"></script>
{% endblock %}

{% block content %}
<script>
const main = (()=>{

// Using the Intl API so europe gets 24 hour, ect.
const time_format = new Intl.DateTimeFormat(navigator.lanuage,
{
  hour: "numeric",
  minute: "numeric"
});

const date_format = new Intl.DateTimeFormat(navigator.lanuage,
{
  day: "numeric",
  month: "long",
  year: "numeric"
});

function formatTime(t) {
  const time = t == undefined ? new Date() : new Date(t);
  return time_format.format(time);
}

function formatDate(t) {
  const time = t == undefined ? new Date() : new Date(t);
  return date_format.format(time);
}

// Imports
const {Link, Route, location, Redirect} = hyperappRouter
const {main, h1, span, div, button, section, img, article, time, a} = hyperappHtml;

const state = {
	location: location.state,
	apps: new Map(),
	installed: [],
	installing: false
}

const actions = {
	location: location.actions,
	load_apps: new_apps => state => ({apps: new_apps}),
	installed_apps: new_apps => state => ({apps: new_apps}),
	finish_install: () => state => ({installing: false}),
	install: app_id => (state, actions) => {
		$.post("/install_app/" + app_id, "text", 0, actions.finish_install)
		return {installing: state.apps.get(app_id).name}
	}
}

const app_short = (app) => (
	article({class: "M(s03) P(s02) W(50%) Bxsh(0,0,s05,grey-5) Bgc(white) D(f) Ai(c) Fld(c) Flx(1)"}, [
		img({
			src: "{{api_domain}}/api/v1/app/" + app.id + "/icon",
			class: "Maw(60%) D(b) Bdrus(s05) Cur(p)",
			onclick: () => history.pushState(location.pathname, "", "/" + app.id)
		}),
		Link({
			id: app.id,
			to: "/" + app.id,
			class: "_rLink() C(blue) Op(.7):h Fz(s3)"
		}, app.name),
		div({class: "Ellip() Ov(h) W(20rem) P(s04)"}, app.description),
		time({class: "Ff(Inconsolata)"}, "Updated " + formatDate(app.updated))
	])
)

const home = () => (state, actions) => (
	section({class: "D(f) W(100%) Flw(w)"},
		Array.from(state.apps.values()).map(app_short)
	)
);

const detail = ({match, _}) => (state, actions) => {
	const app = state.apps.get(parseInt(match.params["app_id"]))
	if (!app)
		return div("Loading..")
	return article({class: "M(s03) P(s1) Bxsh(0,0,s05,grey-5) Bgc(white)"}, [
		Link({to: "/", class: "_rLink() Fz(s3) Ff(Inconsolata) Td(u) C(grey-3) C(blue):h"}, "← Back"),
		img({
			src: "{{api_domain}}/api/v1/app/" + app.id + "/icon",
			class: "Maw(100%) Mx(a) D(b) Bdrus(s05) Bd(s,s05,grey-5) My(s02)"
		}),
		div({class: "C(#191919) Fz(s4)"}, app.name),
		div({class: "Lh(1.5) P (s03) Wob(ba)"}, app.description),
		time({class: "Ff(Inconsolata) Mb(s02)"}, "Updated " + formatDate(app.updated)),
		(state.installing ? 
			div({
				class: "Py(s04) C(green)"
			}, "Installing " + state.installing) :
			div({onclick: () => actions.install(app.id),
				class: "Py(s04) Bd(s,s05,grey-5)"
			}, "Install")
		)
	])
};

const installed = () => (
	h1("Installed")
);

const view = (state, actions) => (
	main({class: "Mx(a) W(100%) H(100%) Maw(50rem)"}, [
		div({class: "D(f) Jc(space-evenly) P(s04) Fz(s3)"}, [
			Link({to: "/installed", class: "_rLink() C(grey-2) P(s04) C(blue):h"}, "Installed Apps"),
			Link({to: "/", class: "_rLink() C(grey-2) P(s04) C(blue):h"}, "Home")
		]),
		Route({path: "/",  render: home}),
		Route({path: `/:app_id`,  render: detail}),
		Route({path: "/installed", render: installed})
	])
)

return hyperapp.app(state, actions, view, document.body)
})();

hyperappRouter.location.subscribe(main.location);

$.get("{{api_domain}}/api/v1/app/top", "json", apps => {
	app_map = new Map()
	for (let app of apps) {
		app_map.set(app.id, app)
	}
	window.app_map = app_map;
	main.load_apps(app_map);
})
</script>

{% endblock %}
