<!DOCTYPE html>
<html class="H(100%) M(0) Bxz(bb)">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<link rel="stylesheet" href="/resources/normalizer.min.css">
	<link rel="stylesheet" href="/resources/type.css">
	<link rel="stylesheet" href="/resources/style.css">
	<script src="/resources/prelude.js"></script>
	<style>*,*:before,*:after{-moz-box-sizing:inherit;box-sizing:inherit}</style>
	<link rel="shortcut icon" href="/resources/favicon.png" />
	{% block head %}{% endblock %}
</head>

<body class="H(100%) My(0) | Bgc(grey-10) C(black-br) Ff(ClearSans)">
	{% block content %} {% endblock %}
</body>
</html>
